
((digest . "6b6a8055df6c7f275f653c9b179a0256") (undo-list (433 . 434) 309 nil (#("@" 0 1 (fontified t)) . 111) nil (#("    <td><%=h seat.flight_id %></td>" 0 5 (fontified t) 5 7 (fontified t face font-lock-function-name-face) 7 32 (fontified t) 32 34 (fontified t face font-lock-function-name-face) 34 35 (fontified t)) . 143) ((marker) . -35) nil (#("
" 0 1 (fontified t)) . -469) nil (#("
" 0 1 (fontified t)) . -470) nil (#("<%= link_to 'New seat', new_seat_path %>" 0 40 (fontified t)) . 471) (t 20105 . 32768) ((marker*) . 40) ((marker) . -1) ((marker*) . 40) ((marker) . -40) ((marker) . -40)))
